/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 
/* Navbar Stykes */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center; /* after use rem , home, about etc. buttons positon center */
}
.nav-links{
    display: flex;
    list-style: none; /* remove dot from home,about etc. buttons */
    gap: 30px; 
}
ul > li > a{
    text-decoration: none; /* remove underline from home,about etc. buttons */
    color: #424242;
    font-size: 18px;
}
.background-color{
    background-color: rgba(255, 144, 14, 0.10); /* header part background color */
}
.nav-title{
    font-weight: 700px;
    font-size: 3rem; /* rem use reason to make website responsive */
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto; /* make text center */
}

/* Banner Styles */
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
    margin-bottom: 32px;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
    margin-bottom: 32px;
}
.main-button{
    font-weight: 600;
    font-weight: 1.25rem;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgba(255, 144, 14, 1.00);
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
}
.banner-img{    
    width: 100%; /* to make img responsive */
    margin-bottom: 45px;

}

main{
    max-width: 1440px;
    margin: 0 auto;
}
/* Features Section Part */
.team-work{
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-top: 85px;
    margin-bottom: 130px;
    margin-right: 73px;
}
.team-features{
    max-width: 537px;
}
.title1{
    color: #727272;
    font-weight: 550;
}
.title2{
    color: #131313;
    font-weight: 700;

}
.title3{
    color: #FF900E;
}
.features-title{
    font-size: 3rem;
    margin-bottom: 24px;
}
.features-description{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
    margin-bottom: 32px;
}


/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .team-work{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1,1fr); /* img will show one after one */
    }
    .team-img{
        margin-bottom: 20px; /* gap will reduce */
    }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team-work{
        flex-direction: column;
    }
    .team-img{
        margin-bottom: 20px; /* gap will reduce */
    }
    .team-features{
        margin-left: 20px;
    } 
}